BasedOnStyle: Chromium 
IndentWidth: 4
TabWidth: 4
UseTab: Never
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 80
DerivePointerAlignment: false
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false
SpaceAfterCStyleCast: true
IndentCaseLabels: true
IndentGotoLabels: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
BreakConstructorInitializersBeforeComma: false
BreakConstructorInitializers: BeforeComma
ReflowComments: true
SortIncludes: true
IncludeBlocks: Preserve